@import url('https://fonts.googleapis.com/css2?family=Saira:ital,wght@0,100..900;1,100..900&display=swap');

*{
    margin: 0;
    padding: 0;
}

nav{
    background-color: #252725;
    text-align: center;
    padding: 10px 3px;
}

nav > a{
    font-family: 'Saira', sans-serif;
    text-decoration: none;
    color: white;
    font-size: 2rem;
    font-weight: bold;
}

main{
    justify-content: center;
    display: flex;
    padding-top: 50px;
    gap: 40px;
    background-color: #252725;
    height: 100vh;
}

footer{
    background-color: #252725;
    text-align: center;
    font-weight: bold;
    width: 100%;
    position: fixed;
    padding: 15px 3px;
    bottom: 0px;
    color: #ddd;
}

/* --------------- IDS --------------- */
#album{
    width: 450px;
    height: 450px;
    border: 1px solid black;
    border-radius: 10px;
}

#acertos{
    margin-top: 10px;
    display: flex;
    justify-content: center;
    gap: 10px;
}

#direita{
    width: 450px;
    height: 450px;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

#direita > label{
    font-size: 1.5rem;
    color: white;
}

#direita > input{
    width: 96%;
    display: inline-block;
    padding: .5rem;
    font-size: 1.2rem;
    border-radius: 10px;
    border: .75px solid #333;
}

#direita > button{
    background-color: rgb(89, 0, 255);
    border: 1px solid rgb(79, 66, 105);
    padding: .5rem;
    margin: auto;
    margin-top: 0px;
    cursor: pointer;
    border-radius: 10px;
    font-family: 'Saira', sans-serif;
    font-weight: bold;
    color: white;
    width: 40%;
}

#direita > button:hover{
    background-color: rgb(91, 29, 206);
}

/* ------------- CLASSES ------------- */
.caixasAcerto{
    background-color: #ccc;
    width: 25px;
    height: 25px;
    border: 1px solid black;
    border-radius: 7px;
}

.errado{
    background-color: red;
}

.certo{
    background-color: lime;
}